@use "../../colors" as *;
.about {
	margin-top: 30em;
	.about-container {
		display: flex;
		justify-content: space-around;

		.about-l {
			.about-img-container {
				background-image: url("../../assets/images/about-img.jpg");
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				width: 55rem;
				height: 70rem;
				border-top-left-radius: 300px;
				border-top-right-radius: 300px;
				border: 10px solid $gold;
			}
		}
		.about-r {
			margin-top: 5em;
			width: 50%;
			.about-text {
				font-size: 2rem;
				padding-top: 1.6em;
			}
			.about-text:nth-child(3) {
				padding-top: 1em;
			}
			.features-box {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 2em;
				margin-top: 7em;

				.feature-item {
					display: flex;
					flex-direction: column;
					align-items: center;

					.feature-icon {
						padding: 0.2em;
						font-size: 8rem;
						border-radius: 100%;
						background-color: $gold;
					}
					.feature-text {
						text-align: center;
						margin-top: 1em;
						width: 50%;
						font-size: 2rem;
						font-weight: bold;
					}
				}
			}
		}
	}
}
