@use "../../colors" as *;
.contact {
	margin-top: 10em;
	margin-bottom: 10em;
	.contact-container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin-top: 5em;
		
		.contact-l {
			width: 100%;
			margin-bottom: 2em;
			.contact-text {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				gap: 1em;
				padding: 0.5em 0;
				width: 90%;
				margin: 0 auto;
				font-size: 1.2rem;

				.contact-l-icon {
					font-size: 3rem;
					color: $gold;
				}
			}
			.contact-text:nth-child(2) {
				padding-bottom: 1em;
			}
			.contact-map {
				display: flex;
				margin: 0 auto;
				width: 90%;
				height: 200px;
				border: transparent;
				border-radius: 10px;
			}
		}
		.contact-r {
			width: 100%;
			padding: 1em;
			.contact-form {
				display: flex;
				flex-direction: column;
				gap: 1em;

				.contact-input {
					padding: 0.5em;
					padding-left: 1em;
					height: 15%;
					border-radius: 10px;
					border: transparent;
					background-color: #ddd;
					font-size: 1.4rem;
					text-transform: uppercase;
				}
				.contact-textarea {
					padding: 0.5em;
					padding-left: 1em;
					min-height: 30%;
					max-height: 35%;
					resize: none;
					border-radius: 10px;
					border: transparent;
					background-color: #ddd;
					font-size: 1.4rem;
					text-transform: uppercase;
				}
				.contact-btn {
					padding: 0.5em;
					height: 15%;
					border-radius: 50px;
					background-color: $gold;
					color: $black;
					border: transparent;
					font-size: 2rem;
					cursor: pointer;
					transition: all 0.3s ease;
				}
				.contact-btn:hover {
					background-color: $black;
					color: $white;
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.contact {
		.contact-container {
			.contact-l {
				.contact-text {
					font-size: 2rem;
					.contact-l-icon {
						font-size: 4rem;
					}
				}
			}
			.contact-r {
				padding: 2em;
				.contact-form {
					.contact-input {
						font-size: 2rem;
					}
					.contact-textarea {
						font-size: 2rem;
					}
					.contact-btn {
						font-size: 2.6rem;
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.contact {
		margin-bottom: 15em;
		.contact-container {
			flex-direction: row;
			margin-top: 10em;

			.contact-l {
				width: 50%;
				margin: 0;
				.contact-text {
					margin: 0;
					font-size: 2.6rem;
					.contact-l-icon {
						font-size: 4rem;
					}
				}

				.contact-map {
					width: 100%;
					height: 300px;
				}
			}
			.contact-r {
				width: 40%;
				padding: 0;
				.contact-form {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					height: 100%;

					.contact-input {
						font-size: 2rem;
					}
					.contact-textarea {
						font-size: 2rem;
					}
					.contact-btn {
						font-size: 3rem;
					}
				}
			}
		}
	}
}
