@use "../../colors" as *;

footer {
	margin-top: 5em;
	background-color: $black;
	.footer-container {
		display: flex;
		justify-content: center;
		gap: 10em;
		padding: 6em 0;

		.footer-logo {
			font-size: 4rem;
			color: $gold;
		}

		.footer-box {
			.footer-text {
				padding: 0.5em 0;
				font-size: 2rem;
				color: $white;
			}
		}
		.footer-social-box {
			.footer-social-icon {
				margin-top: 0.2em;
				margin-right: 0.3em;
				font-size: 4rem;
				color: $white;
				cursor: pointer;
				transition: all 0.3s ease;
			}
			.footer-social-icon:hover {
				color: $gold;
				scale: 1.1;
			}
		}
	}
}
.footer-box-title {
	color: $gold;
	font-size: 2.2rem;
}


@media (min-width: 1200px) {
    footer {
        margin-top: 5em;
        background-color: $black;
        .footer-container {
            display: flex;
            justify-content: space-around;
            padding: 6em 0;
            
    
            .footer-logo {
                font-size: 4rem;
                color: $gold;
            }
    
            .footer-box {
                .footer-text {
                    padding: 0.5em 0;
                    font-size: 2rem;
                    color: $white;
                }
            }
            .footer-social-box {
                .footer-social-icon {
                    margin-top: 0.2em;
                    margin-right: 0.3em;
                    font-size: 4rem;
                    color: $white;
                    cursor: pointer;
                    transition: all 0.3s ease;
                }
                .footer-social-icon:hover {
                    color: $gold;
                    scale: 1.1;
                }
            }
        }
    }
    .footer-box-title {
        color: $gold;
        font-size: 2.2rem;
    }
    
}