@use "../../colors" as *;

footer {
	margin-top: 5em;
	background-color: $black;
	.footer-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 5em;
		padding: 3em 0;

		.footer-logo {
			font-size: 4rem;
			color: $gold;
		}

		.footer-box {
			text-align: center;

			.footer-text {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 0.5em;
				padding: 0.5em 0;
				font-size: 1rem;
				color: $white;
				cursor: pointer;
				transition: all 0.3s ease;
			}

			.footer-text:hover {
				color: $gold;
				scale: 1.1;
			}
		}
		.footer-social-box {
			text-align: center;
			.footer-social-icon {
				margin: 0.4em 0.2em 0 0.2em;
				font-size: 3rem;
				color: $white;
				cursor: pointer;
				transition: all 0.3s ease;
			}
			.footer-social-icon:hover {
				color: $gold;
				scale: 1.1;
			}
		}
	}
}
.footer-box-title {
	font-size: 1.6rem;
	color: $gold;
}

@media (min-width: 414px) {
	footer {
		.footer-container {
			.footer-box {
				.footer-text {
					font-size: 1.3rem;
				}
			}
		}
	}
	.footer-box-title {
		font-size: 2rem;
	}
}

@media (min-width: 768px) {
	footer {
		.footer-container {
			.footer-box {
				.footer-text {
					font-size: 1.7rem;
				}
			}
		}
	}
	.footer-box-title {
		font-size: 2.4rem;
	}
}

@media (min-width: 1200px) {
	footer {
		margin-top: 5em;
		background-color: $black;
		.footer-container {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-around;
			padding: 6em 0;

			.footer-logo {
				font-size: 4rem;
			}

			.footer-box {
				text-align: left;
				.footer-text {
					justify-content: flex-start;
					font-size: 2rem;
				}
			}
			.footer-social-box {
				text-align: left;
				.footer-social-icon {
					font-size: 4rem;
				}
			}
		}
	}
	.footer-box-title {
		font-size: 2.2rem;
	}
}
