@use "./colors" as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 80px;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: $white;
	overflow-x: hidden;
}

a {
	color: $black;
	text-decoration: none;
}
li {
	list-style: none;
}
p {
	color: $black;
}
.wrapper {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.section-heading {
	font-size: 2rem;
	color: $gold;
	.section-heading-span {
		font-size: 3rem;
		color: $black;
	}
}
.center-heading {
	text-align: center;
}

@media (min-width: 768px) {
	.section-heading {
		font-size: 3rem;
		.section-heading-span {
			font-size: 3.7rem;
		}
	}
}
@media (min-width: 992px) {
	.section-heading {
		font-size: 3.4rem;
		.section-heading-span {
			font-size: 4.4rem;
		}
	}
}

@media (min-width: 1200px) {
	.section-heading {
		font-size: 4rem;

		.section-heading-span {
			font-size: 5rem;
		}
	}
}
