@use "./colors" as *;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	font-family: "Montserrat", sans-serif;
	background-color: $white;
	overflow-x: hidden;
}

a {
	color: $black;
	text-decoration: none;
}
li {
	list-style: none;
}
p {
	color: $black;
}
.wrapper {
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.section-heading {
	font-size: 4rem;
	color: $gold;
	.section-heading-span {
		font-size: 5rem;
		color: $black;
	}
}
