@use "../../colors" as *;

.small-circle {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	border-bottom-left-radius: 100%;
	background-color: $gold;
	z-index: -1;
}
.big-circle {
	position: absolute;
	top: -3%;
	left: -5%;
	width: 200px;
	height: 150px;
	rotate: 40deg;
	border-radius: 300px;
	border-top-right-radius: 400px;
	background-color: $gold;
}
.dotted-line {
	position: absolute;
	top: 0;
	left: 60%;
	rotate: -40deg;
	font-size: 7rem;
	color: $black;
}

.nav {
	position: fixed;
	top: 5%;
	padding: 1em 1em;
	width: 100%;
	border-top: 2px solid $black;
	z-index: 100;
	transition: all 0.3s;
	.nav-container {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.logo-box {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 0.5em;

			.logo {
				font-size: 3rem;
			}
			.web-name {
				font-size: 2.6rem;
				font-weight: bold;
			}
		}
		.burger-btn {
			font-size: 5rem;
		}
		.burger-nav-body {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			gap: 2em;
			position: fixed;
			bottom: 0;
			left: 0;
			padding: 1em;
			width: 100%;
			height: 0;
			background-color: $gold;
			transition: all 0.3s ease;
			z-index: 1000;
			overflow: hidden;
			visibility: hidden;
			box-shadow: 3px -5px 45px -18px rgba(132, 132, 132, 1);
			.burger-nav-item {
				position: relative;
				font-size: 2rem;
				font-weight: bold;
			}
		}

		.open {
			visibility: visible;
			height: 50vh;
		}
		.nav-body {
			display: none;
		}
	}
}

.sticky {
	top: 0;
	background-color: $white;
	box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
	z-index: 1000;
}

@media (min-width: 375px) {
	.nav {
		.nav-container {
			.burger-nav-body {
				gap: 3em;
			}
		}
	}
}
@media (min-width: 414px) {
	.big-circle {
		width: 220px;
		height: 170px;
		top: -4%;
	}
}

@media (min-width: 768px) {
	.small-circle {
		width: 60px;
		height: 60px;
	}
	.nav {
		.nav-container {
			.burger-btn {
				display: none;
			}
			.burger-nav-body {
				display: none;
			}

			.nav-body {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 2em;
				padding: 1em 6em;
				background-color: $gold;
				border-bottom-left-radius: 50px;
				border-top-left-radius: 5px;
				.nav-item {
					position: relative;
					font-size: 1.6rem;
				}
				.nav-item::before {
					content: "";
					position: absolute;
					bottom: -2%;
					height: 10%;
					width: 0;
					background-color: $black;
					transition: all 0.3s ease;
				}
				.nav-item:hover::before {
					width: 100%;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.small-circle {
		top: 0;
		right: 0;
		width: 100px;
		height: 100px;
	}
	.big-circle {
		top: -20%;
		left: -5%;
		width: 500px;
		height: 350px;
		rotate: 40deg;
	}
	.dotted-line {
		top: 1%;
		left: 30%;
		font-size: 10rem;
	}

	.nav {
		top: 5%;
		padding-top: 2em;
		padding-bottom: 2em;

		.nav-container {
			.nav-body {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8em;
				padding: 1em 10em;
				background-color: $gold;
				border-bottom-left-radius: 50px;
				border-top-left-radius: 5px;
				.nav-item {
					font-size: 2rem;
				}
			}
		}
	}

	.sticky {
		top: 0;
		background-color: $white;
		box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
		z-index: 1000;
	}
}
